{% extends "base.html" %}
{% block title %} 标注任务  {% endblock %}

{% block content %}
<div class="col"><h5 class="demo-panel-title">查询: {{ qcontent }}</h5></div>
<div class="col"><h5 class="demo-panel-title">文档: <a href="{{ doc_link }}" target="_blank">{{ doc_name }}</a></h5></div>

<div class="col">
  <h5 class="demo-panel-title">标注等级</h5>
  <button class="btn btn-default btn-wide" id="button4" onclick="selectLabel(-1)">
  -1
</button>
    <button class="btn btn-default btn-wide" id="button0" onclick="selectLabel(0)">
  0
</button>
    <button class="btn btn-default btn-wide" id="button1" onclick="selectLabel(1)">
  1
</button>
    <button class="btn btn-default btn-wide" id="button2" onclick="selectLabel(2)">
  2
</button>
    <button class="btn btn-default btn-wide" id="button3" onclick="selectLabel(3)">
  3
</button>
</div>
<br />

<div class="col">
  <a href="/label/behind?label=-2" class="btn btn-block btn-lg btn-primary" id="submitLink">提交</a>
</div>

{% endblock %}

{% block scripts %}
<script>
function selectLabel(num) {
  document.getElementById("submitLink").href = "/label/behind?label=" + num.toString();
  document.getElementById("button0").className = "btn btn-default btn-wide";
  document.getElementById("button1").className = "btn btn-default btn-wide";
  document.getElementById("button2").className = "btn btn-default btn-wide";
  document.getElementById("button3").className = "btn btn-default btn-wide";
  document.getElementById("button4").className = "btn btn-default btn-wide";
  if (num === -1) {
    document.getElementById("button4").className = "btn btn-primary btn-wide";
  } else {
    document.getElementById("button"+num.toString()).className = "btn btn-primary btn-wide";
  }
  // alert("change label to " + num.toString());
}

</script>
{% endblock %}